  <section class="py-16 bg-orange-50 px-6">
    <h2 class="text-3xl text-center font-bold text-orange-800 mb-10">Conoce a los Gatitos</h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
      <img src="/assets/gato1.png" alt="Gato 1" class="rounded-xl hover:scale-110 transition-transform shadow-xl">
      <img src="/assets/gato2.png" alt="Gato 2" class="rounded-xl hover:scale-110 transition-transform shadow-xl">
      <img src="/assets/gato3.png" alt="Gato 3" class="rounded-xl hover:scale-110 transition-transform shadow-xl">
      <img src="/assets/gato4.png" alt="Gato 4" class="rounded-xl hover:scale-110 transition-transform shadow-xl">
    </div>
  </section>